<!-- Display a single blog post with its comments -->
<div class="card mb-2 blog-card" data-blog-id="{{id}}">
    <div class="card-header bg-primary-subtle">
        <h4 class="card-title text-dark">{{title}}</h4>
        <div class="row">
            <div class="col-sm-12 d-sm-block d-md-none">
                <h6 class="card-subtitle mb-2 text-muted">Author: {{user.username}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Created: {{formatBlogDate created_at}}</h6>
                {{#compareValues updated_at created_at}}
                {{else}}
                <h6 class="card-subtitle mb-2 text-muted">Updated: {{formatBlogDate updated_at}}</h6>
                {{/compareValues}}
                </h6>
            </div>
            <div class="col-sm-12 d-none d-md-block">
                <h6 class="card-subtitle mb-2 text-muted">Author: {{user.username}} | Created: {{formatBlogDate
                    created_at}}
                    {{#compareValues updated_at created_at}}{{else}} | Updated:
                    {{formatBlogDate updated_at}} {{/compareValues}}
                </h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>
<!-- Show all Comments -->
{{#each comments as |comment|}}
{{> comment comment}}
{{/each}}