<!-- Dashboard blog post -->
<div class="alert alert-primary dashboard-blog-card" data-blog-id={{id}} role="alert">
    <h4 class="alert-heading">{{title}}</h4>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <p class="mb-0">Created: {{formatBlogDate created_at}}
            {{#compareValues updated_at created_at}}{{else}} | Updated:
            {{formatBlogDate updated_at}} {{/compareValues}}
        </p>
    </div>
</div>