<header class="bg-gray-900 text-white py-2 px-6 flex flex-row justify-between items-center w-full mx-auto">
    <div>
        {{!-- Logo image --}}
        <a href="/">
            <img src="/assets/images/logo.png" alt="Logo" class="w-16 h-16">
        </a>
    </div>
    <div class="text-center flex items-baseline">
        <H1 class="ml-8 text-3xl font-bold text-white">InfoPulse</H1>
    </div>
    <div class="ml-auto">

        {{!-- if not logged in show login button
        except if already on the login page --}}
        {{#unless loggedIn}}
        {{#ifeq currentPage "login-main"}}
        {{else}}
        <a href="/login-main" class="text-white font-base mr-6">Client Login</a>
        {{/ifeq}}

        {{#ifeq currentPage "admin-login"}}
        {{else}}
        <a href="/login-admin" class="text-white font-base mr-6">Administrator Login</a>
        {{/ifeq}}
        {{else}}

        {{!-- if is logged in --}}
        {{#if isUser}}
        {{! show user dashboard link
        except if already on the user dashboard page }}
        {{#ifeq currentPage "userDashboard"}}
        {{else}}
        <a href="/userdashboard" class="text-white font-base mr-6">Your Dashboard</a>
        {{/ifeq}}

        {{else}}
        {{! show admin dashboard link
        except if already on the admin dashboard page }}
        {{#ifeq currentPage "adminDashboard"}}
        {{else}}
        <a href="/admin" class="text-white font-base mr-6">Admin Dashboard</a> {{!-- TODO NAT--}}
        {{/ifeq}}

        {{/if}}
        {{!-- if logged in show logout button --}}
        <a href="/logout" class="text-white font-base mr-6">Logout</a> {{!-- TODO NAT--}}
        {{/unless}}
        <!-- about page link -->
        <a href="/about" class="text-white font-base mr-6">About</a>
    </div>
    <div>
        {{!-- page specific navigation if needed --}}
        {{#ifeq currentPage "home"}}
        
        {{/ifeq}}

        {{#ifeq currentPage "userDashboard"}}

        {{/ifeq}}

        {{#ifeq currentPage "adminDashboard"}}

        {{/ifeq}}
    </div>



</header>