<div
  class="user-list-item border-1 mb-1 cursor-pointer rounded-md border-pulse-bluegrey-300 bg-pulse-bluegrey-50 px-2 py-1 text-pulse-green-700"
  data-id="{{id}}">
  <p class="font-semibold text-pulse-blue-500">{{last_name}},
    {{first_name}}
    <span class="text-sm font-normal italic">({{format_date date_of_birth}})</span>
  </p>
  <p class="text-sm italic text-pulse-bluegrey-500">
    {{email}}
    mobile:
    {{mobile_phone}}
    code:
    {{authentication_code}}</p>
</div>