<section class="bg-gray-100">
  <div class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <!-- display the factsheets that user has been given -->
    <div id="view-factsheets" class="border-t-4 border-pulse-green-500">
      <div class="mx-auto px-1 sm:px-2 bg-white">
        <h2 class="text-xl font-bold mb-2">Your Factsheets</h2>
        {{#each factsheets as |factsheet|}}
        <div class="border-2 border-gray-300 p-4 mb-4 cursor-pointer" data-id="{{factsheet.id}}">
          <h3 class="text-base font-bold text-pulse-blue-700">{{factsheet.template.title}}</h3>
          <span class="toggle-icon">▼</span>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- display the selected factsheet -->
  <div id="view-posts" class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <div class="mx-auto px-1 sm:px-2 bg-white">
      <h2 class="text-xl font-bold mb-2">Factsheet</h2>
      {{#each factsheets as |factsheet|}}
      <div class="border-2 border-gray-300 p-4 mb-4 factsheet-content hidden" data-id="{{factsheet.id}}">
        {{{factsheet.custom_html}}}
      </div>
      <!-- Iterate over your comments and create an <li> for each one -->
      {{#each usercomments as |usercomment|}}
      {{#if (eq usercomment.factsheet_id factsheet.id)}}
      <p class="text-xl font-bold mb-2">Your Comment:</p>
      <div class="pl-2  text-pulse-grey-dark">
        <p class="text-base">{{usercomment.content}}</p>
        <p class="text-xs text-gray-500">Created at:
          {{format_date usercomment.createdAt}}
          {{format_time usercomment.createdAt}}</p>
      </div>
      {{/if}}
      {{/each}}
      {{/each}}
    </div>
  </div>
</section>
