<section class="bg-white">
  {{!-- new layout --}}
  <div class="flex flex-col md:flex-row md:space-x-1">
    <div class="md:w-1/3  m-2 text-pulse-bluegrey-500">
      <div class="max-h-96 overflow-y-auto p-0">
        <h2>Your Factsheets - Click Title to View</h2>
        <div class="border-2 bg-pulse-bluegrey-50 border-pulse-bluegrey-300 p-4 mb-4">
          {{#each factsheets as |factsheet|}}
          {{> user-dashboard-factsheet-listitem}}
          {{/each}}
        </div>
      </div>
      {{!-- Comments --}}
      <div class="user-comments bg-pulse-bluegrey-50">
        <hr class="my-4 border-2 border-pulse-bluegrey-700">
        <h2 class="text-xl font-bold mb-2">Your Own Comments:</h2>
        {{#each factsheets as |factsheet|}}

        {{#if hasComments}}
        <div class="px-4 ">
          {{#each usercomments as |usercomment|}}
          <div
            class="user-comment pl-2 hidden text-pulse-bluegrey-800 my-2 cursor-pointer border border-pulse-bluegrey-300 rounded"
            data-id="{{usercomment.id}}" data-factsheet-id="{{usercomment.factsheet_id}}">
            <p class="text-base">{{usercomment.content}}</p>
            <p class="text-sm text-pulse-bluegrey-400">Created at:
              {{format_date usercomment.createdAt}}
              {{format_time usercomment.createdAt}}</p>
          </div>
          {{/each}}

        </div>

        {{/if}}
        {{/each}}

      </div>

      <div class="flex flex-col items-center space-y-4 w-full">
        <!-- Create, Edit, Delete buttons -->
        <div class="flex flex-row justify-between w-full">
          <div class="flex space-x-2">
            <button id="comment-add-button"
              class="w-auto rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white">Create</button>
            <button id="comment-edit-button"
              class="hidden w-auto rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white">Edit</button>
          </div>
          <button id="comment-delete-button"
            class="hidden w-auto rounded bg-red-500 hover:bg-red-700 px-3 py-1 text-white">Delete</button>
        </div>

        <!-- Textarea -->
        <div id="comment-editing" class="hidden w-full">
          <textarea id="user-comment-entry" class="w-full h-64 p-2 border rounded resize-none" style="font-size: 1rem"
            placeholder="Type something..."></textarea>

          <!-- Save and Cancel buttons -->
          <div class="flex space-x-4">
            <button id="comment-save-button"
              class="w-auto rounded bg-pulse-blue-500 hover:bg-pulse-blue-700 px-3 py-1 text-white">Save</button>
            <button id="comment-cancel-button" class="px-4 py-2 bg-red-500 text-white rounded">Cancel</button>
          </div>
        </div>
      </div>

      <hr class="my-4 border-2 border-pulse-bluegrey-400">

    </div>

    <div class="md:w-2/3 bg-white text-pulse-bluegrey-600 p-4">
      
      {{#each factsheets as |factsheet|}}
      <div class="factsheet-html hidden border-2 border-pulse-bluegrey-300 p-4 mb-4" data-id="{{factsheet.id}}">
        <i class="text-right fa-sharp fa-solid fa-browsers font-pulse-bluegrey-700 cursor-pointer"></i>
        {{#if hasCustomMarkdown}}
        <div class="custom-html" data-id="{{id}}">
          <hr class="my-2 border-2 border-pulse-bluegrey-700">
          <h2 class="text-xl font-bold mb-2">Your Personalised Information:</h2>
          <div class="px-4 ">
            {{{custom_html}}}
          </div>
          <hr class="my-4 border-2 border-pulse-bluegrey-400">
        </div>
        {{/if}}
        <div class="px-4 py-2">
          {{{template.html}}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>



<script src="/assets/js/user-dashboard.js"></script>