<section class="bg-gray-100">
  <div class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <!-- display the factsheets that user has been given -->
    <div id="view-factsheets" class="border-t-4 border-pulse-green-500">
      <div class="mx-auto px-1 sm:px-2 bg-white">
        <h2 class="text-xl font-bold mb-2">Your Factsheets</h2>
        {{#each factsheets as |factsheet|}}
        <div class="border-2 border-gray-300 p-4 mb-4">
          {{> user-dashboard-factsheet-listitem}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <!-- display the factsheets that user has been given -->
  <div id="view-posts" class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <div class="mx-auto px-1 sm:px-2 bg-white">
      <h2 class="text-xl font-bold mb-2">Factsheet</h2>
      {{#each factsheets as |factsheet|}}
      <div class="hidden factsheet border-2 border-gray-300 p-4 mb-4" id="factsheet-{{id}}">
        {{{template.html}}}
      </div>
      <!-- Iterate over your comments and create an <li> for each one -->
      {{#each usercomments as |usercomment|}}
      <p class="usercomment text-xl font-bold mb-2" id="usercomment-{{usercomment.id}}" data-factsheet-id="{{id}}">Your Comment:</p>
      <div class="pl-2 text-pulse-grey-dark">
        <p class="text-base">{{usercomment.content}}</p>
        <p class="text-xs text-gray-500">Created at:
          {{format_date usercomment.createdAt}}
          {{format_time usercomment.createdAt}}</p>
      </div>
      {{/each}}
      {{/each}}
    </div>
  </div>

  <div class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <div class="mx-auto px-1 sm:px-2 bg-white">
      <h2 class="text-xl font-bold mb-2">Glaucoma</h2>
      <!-- Add Comment section -->
      <div class="border-2 border-gray-300 p-4 mb-4">
        <textarea class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" rows="4" placeholder="Add your comment..."></textarea>
      </div>
      <!-- Save Comment button -->
      <div class="flex justify-end mt-4">
        <button class="bg-pulse-blue-500 hover:bg-pulse-blue-700 text-white rounded px-4 py-2" id="save-comment">Save Comment</button>
      </div>
    </div>
  </div>

  <div class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <div class="mx-auto px-1 sm:px-2 bg-white">
      <h2 class="text-xl font-bold mb-2">Myopia</h2>
      <!-- Add Comment section -->
      <div class="border-2 border-gray-300 p-4 mb-4">
        <textarea class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" rows="4" placeholder="Add your comment..."></textarea>
      </div>
      <!-- Save Comment button -->
      <div class="flex justify-end mt-4">
        <button class="bg-pulse-blue-500 hover:bg-pulse-blue-700 text-white rounded px-4 py-2" id="save-comment">Save Comment</button>
      </div>
    </div>
  </div>

  <div>
    <!-- Buttons section -->
    <div class="flex justify-end mt-4">
      <button class="bg-pulse-blue-500 hover:bg-pulse-blue-700 text-white rounded px-4 py-2 mr-2" id="add-comment">Add Comment</button>
      <button class="bg-pulse-green-500 hover:bg-pulse-green-700 text-white rounded px-4 py-2" id="save-comment">Save Comment</button>
      <!-- <button class="btn btn-danger" id="log-out">Log Out</button> -->
    </div>
  </div>
</section>
<script src="/assets/js/user-dashboard.js"></script>
