<section class="bg-gray-100">
  <div class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <!-- display the first factsheet that user has been given -->
    <div id="user-factsheet-1" class="user-factsheet hidden" data-id="1">
      <!-- Factsheet 1 content here -->
      <h1>{{factsheets.[0].title}}</h1>
      <p>{{factsheets.[0].description}}</p>
      <p>{{factsheets.[0].category_id}}</p>
      <div>{{{factsheets.[0].markdown}}}</div>
    </div>
    
    <!-- display the second factsheet that user has been given -->
    <div id="user-factsheet-2" class="user-factsheet hidden" data-id="2">
      <!-- Factsheet 2 content here -->
      <h1>{{factsheets.[1].title}}</h1>
      <p>{{factsheets.[1].description}}</p>
      <p>{{factsheets.[1].category_id}}</p>
      <div>{{{factsheets.[1].markdown}}}</div>
    </div>
  </div>

  <!-- display the user comments -->
  <div id="view-comments" class="max-w-screen-xl mx-auto border-t-4 border-pulse-green-500">
    <div class="mx-auto px-1 sm:px-2 bg-white">
      <h2 class="text-xl font-bold mb-2">Factsheet</h2>
      {{#each factsheets as |factsheet|}}
        <div class="border-2 border-gray-300 p-4 mb-4">
          {{{template.html}}}
        </div>
        <!-- Iterate over your comments and create an <li> for each one -->
        {{#each usercomments as |usercomment|}}
          <p class="text-xl font-bold mb-2">Your Comment:</p>
          <div class="pl-2  text-pulse-grey-dark">
            <p class="text-base">{{usercomment.content}}</p>
            <p class="text-xs text-gray-500">Created at:
              {{format_date usercomment.createdAt}}
              {{format_time usercomment.createdAt}}</p>
          </div>
        {{/each}}
      {{/each}}
    </div>
  </div>

  <div>
    <!-- Buttons section -->
    <div class="flex justify-end mt-4">
      <button class="bg-pulse-blue-500 hover:bg-pulse-blue-700 text-white rounded px-4 py-2 mr-2" id="add-comment">Add
        Comment</button>
      <button class="bg-pulse-green-500 hover:bg-pulse-green-700 text-white rounded px-4 py-2" id="save-comment">Save
        Comment</button>
      <!-- <button class="btn btn-danger" id="log-out">Log Out</button> -->
    </div>
  </div>
</section>
<script src="/assets/js/user-dashboard.js"></script>
